{% extends 'base.html.twig' %}
{% block title %}la liste des équipements{% endblock %}
{% block body %}
<body style="background-image: url('/image/materiel.JPG'); width=auto;">
 <div class="jumbotron">
    <h3>Equipments</h3>

        {% if equipments|length == 0 %}
            <div class="exemple3">Pas de equipments saisés pour le moment</div>
        {% else %}
             <table class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr class="table-primary">
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Number</th>
                    <th scope="col">Categorie</th>
                    <th scope="col">Date de création</th>
                    <th scope="col">Date de mise à jour</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for equipment in equipments %}
                    <tr>
                        <td>{{ equipment.id }}</td>
                        <td>{{ equipment.name }}</td>
                        <td>{{ equipment.number }}</td>
                        <td>{{ equipment.category }}</td>
                        <td>{{ equipment.createdAt|date('Y-m-d H:i:s') }}</td>
                        <td>{{ equipment.updateAt|date('Y-m-d H:i:s') }}</td>
                        <td>{{ equipment.description }}</td>
                        <td><a class="btn btn-info" href="{{ path('equipment_show', {'id' : equipment.id}) }}">Détail</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}